
/* Custom color for scores */
.text-score {
  color: goldenrod !important;
}
[data-bs-theme="dark"] .text-score {
  color: gold !important;
}

/* For overlapping avatar images */
.avatar-group {
    position: relative;
    width: 85px; /* Adjust to fit both images */
    height: 50px;
    display: flex;
    justify-content: center;
}
.avatar-group-B {
    position: relative;
    width: 68px; /* Adjust to fit both images */
    height: 40px;
    display: flex;
    justify-content: center;
}
.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(130, 130, 130, 1);
}
.avatar-img-B {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(130, 130, 130, 1);
}
.avatar-img-1 {
    left: 0%;
    transform: translateX(0%);
    z-index: 2;
}
.avatar-img-2 {
    left: 0%;
    transform: translateX(70%); /* Adjust for desired overlap */
    z-index: 1;
}

/* Add a hover effect to images */
.hover-zoom img {
    transition: transform 0.3s ease;
}
.hover-zoom img:hover {
    transform: scale(1.10);
}


/* For movie banners on movie page */
.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.1);
}

/* Carousel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    z-index: 10;
    filter: invert(100%);
}
.carousel-control-prev {
    left: -70px; 
}
.carousel-control-next {
    right: -70px;
}
.carousel-caption {  /* not used currently */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    color: rgb(180, 180, 180);
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(to top, rgba(79, 79, 79, 0.7), rgba(79, 79, 79, 0.7)); 
    z-index: 10;
}
.carousel-item{
    position: relative;
}

/* For the recommendation cards */
.rec-card-img {
    height: 120px;
    object-fit: cover;
}
.rec-card {
    border-radius: 8px;
    border-width: 0px;
    background-color:rgba(173, 216, 230, .3);
    height: 120px;
}
.hover-zoom-rec-card .card:hover {
    background-color: rgba(173, 216, 230, .5);
}

/* For the recommendation container scrollbar */
#RecommendContainerReal::-webkit-scrollbar {
    width: 8px;
}
#RecommendContainerReal::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}
#RecommendContainerReal::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#RecommendContainerReal::-webkit-scrollbar-track {
    background: var(--bs-secondary-bg);

}

/* To remove spacing between elements */
.no-spacing {
  margin: 0;
  line-height: 1.2; /* Adjust if needed */
}

/* Placeholders */
.placeholder {
    background-color: #cecece;
    /* color:rgb(114, 207, 114); */
    animation: flicker 1.5s infinite;
    border-radius: 8px;
}
.placeholder-img {
    height: 300px;   
    width: 100%;
}
.placeholder-img2 {
    height: 240px;   
    width: 100%;
}
.placeholder-rec-card {
    height: 120px;
    width: 860px;
}
@keyframes flicker {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.6;
    }
}