  
    <!-- place a divider rule horizontal -->
    <hr class="my-5 w-50 mx-auto">


    <!-- Carousel -->
    <div id="carousel1" class="carousel slide d-none" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- <div class="carousel-item active">
            <img src="https://a.ltrbxd.com/resized/sm/upload/t4/au/4r/kk/we%20live%20in%20time-1920-1920-1080-1080-crop-000000.jpg" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-center text-muted">Title of the Movie (Year)</h5>
            </div>
            </div>
            <div class="carousel-item">
                <img src="https://a.ltrbxd.com/resized/sm/upload/gn/0w/nf/vi/never-let-me-go-30-1920-1920-1080-1080-crop-000000.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-center text-muted">Title of the Movie (Year)</h5>
                </div>
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <!--Carousel-->
    <div class="container hover-zoom bg-tertiary-subtle w-50 p-3 mb-5">

        <h1 class="text-center">Your Watchlist:</h1>
        <p class="text-center mb-5">Let's see what movies you still want to see!
        </p>

        <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">

            <div class="carousel-item active p-3">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/jg/cd/7y/f5/there%20will%20be%20blood-0-230-0-345-crop.jpg" 
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal0">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/pc/n6/pz/mi/wvzfK5QR6dGLwND8MCzWjsQWG4Q-0-230-0-345-crop.jpg" 
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal1">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/film-poster/5/1/9/7/0/51970-before-sunset-0-230-0-345-crop.jpg"
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal2">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/ay/bp/kl/1y/uBfQ7IGpi0jXSP3GPCzp9Pzm10v-0-230-0-345-crop.jpg"
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal3">
                    </div>
                </div>
            </div>

            <div class="carousel-item p-3">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/jg/cd/7y/f5/there%20will%20be%20blood-0-230-0-345-crop.jpg" 
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal0">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/pc/n6/pz/mi/wvzfK5QR6dGLwND8MCzWjsQWG4Q-0-230-0-345-crop.jpg" 
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal1">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/film-poster/5/1/9/7/0/51970-before-sunset-0-230-0-345-crop.jpg"
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal2">
                    </div>
                    <div class="col">
                        <img src="https://a.ltrbxd.com/resized/sm/upload/ay/bp/kl/1y/uBfQ7IGpi0jXSP3GPCzp9Pzm10v-0-230-0-345-crop.jpg"
                        class="card-img-top rounded" 
                        alt="..."
                        data-bs-toggle="modal"
                        data-bs-target="#modal3">
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>














    <!--Recommended movies-->
    <div class="container hover-zoom-card bg-tertiary-subtle w-50 p-3 mb-5">

        <h1 class="text-center">Recommended Movies:</h1>
        <p class="text-center mb-5">You may also like the following movies!
        </p>

        <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#modal1">
        <div class="row g-0">
            <div class="col-lg-1">
            <img src="https://a.ltrbxd.com/resized/sm/upload/jg/cd/7y/f5/there%20will%20be%20blood-0-230-0-345-crop.jpg" class="card-img-top-hor rounded-start" alt="...">
            </div>
            <div class="col-lg-11">
            <div class="card-body">
                <h5 class="card-title">There Will Be Blood (2007)</h5>
                <p class="card-text">Some movie details here...</p>
            </div>
            </div>
        </div>
        </div>    

        <div class="card mb-3 "data-bs-toggle="modal" data-bs-target="#modal2">
        <div class="row g-0">
            <div class="col-lg-1">
            <img src="https://a.ltrbxd.com/resized/sm/upload/pc/n6/pz/mi/wvzfK5QR6dGLwND8MCzWjsQWG4Q-0-230-0-345-crop.jpg" class="card-img-top-hor rounded-start" alt="...">
            </div>
            <div class="col-lg-11">
            <div class="card-body">
                <h5 class="card-title">The Handmaiden (2016)</h5>
                <p class="card-text">Some movie details here...</p>
            </div>
            </div>
        </div>
        </div> 

        <div class="card mb-3 "data-bs-toggle="modal" data-bs-target="#modal3">
        <div class="row g-0">
            <div class="col-lg-1">
            <img src="https://a.ltrbxd.com/resized/film-poster/5/1/9/7/0/51970-before-sunset-0-230-0-345-crop.jpg" class="card-img-top-hor rounded-start" alt="...">
            </div>
            <div class="col-lg-11">
            <div class="card-body">
                <h5 class="card-title">Before Sunset (2004)</h5>
                <p class="card-text">Some movie details here...</p>
            </div>
            </div>
        </div>
        </div> 

        <div class="card mb-3 "data-bs-toggle="modal" data-bs-target="#modal4">
        <div class="row g-0">
            <div class="col-lg-1">
            <img src="https://a.ltrbxd.com/resized/sm/upload/ay/bp/kl/1y/uBfQ7IGpi0jXSP3GPCzp9Pzm10v-0-230-0-345-crop.jpg" class="card-img-top-hor rounded-start" alt="...">
            </div>
            <div class="col-lg-11">
            <div class="card-body">
                <h5 class="card-title">Eternal Sunshine of the Spotless Mind (2004)</h5>
                <p class="card-text">Some movie details here...</p>
            </div>
            </div>
        </div>
        </div> 
    </div> 